# pip install --no-cache-dir torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
numpy
tqdm
librosa
transformers
sentencepiece
pandas
scikit-optimize
# confirm torch 2.6 installation and cuda compatibility

#python -c "import torch; print('PyTorch version:', torch.__version__); print('CUDA available:', torch.cuda.is_available())"